body {
  background-color: grey;

}

.box {
  background-color: hotpink;
  width: 150px;
  height: 150px;
  position: relative;
  top: 0;
  left: 0;

  animation: animate1 5s forwards ease-in-out
}

@keyframes animate1 {
25% {
top: 0;
left: 300px;
background-color: yellow;
border-radius: 50% 0 0 0;
}

50% {
top: 300px;
left: 300px;
background-color: #fff;
border-radius: 50% 50% 0 0;
}
75% {
top: 300px;
left: 0;
background-color: green;
border-radius: 50% 50% 50% 0;
}
100% {
top: 0;
left: 0;
background-color: blue;
border-radius: 50% 50% 50% 50%;
}

}